body{
    padding: 0%;
    margin: 0%;
    background-image: url('food.jpg') ;

}

#overlay {
    width: 80%;
    height: 90%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    z-index: 2;
    cursor: pointer;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}



.container{
    margin-top: 150px;
}


#name{
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 19%;
    justify-content: center;
}

#description{
    margin-left: 43%;
    margin-right: 43%;
    justify-content: center;
}

#order-button{
    background-color: rgb(66, 66, 66);
    margin-left: 30%;
    margin-right: 30%;
    padding-left: 15%;
    padding-right: 15%;
    margin-bottom: 10%;
}

.text{
    color: rgb(0, 0, 0);

}

a:link {
    text-decoration: none;
    color: rgba(122, 4, 4, 0.859);
    font-weight: bold;
}
a:visited {
    text-decoration: none;
    color:rgba(122, 4, 4, 0.859);
  }
  .link:hover{
    text-decoration-color:  rgb(255, 55, 0);
    color: rgba(254, 10, 10, 0.859);
    -moz-text-decoration-color:  rgba(254, 10, 10, 0.859);
}